pandas==2.2.3
matplotlib==3.10.1
matplotlib-inline==0.1.7
seaborn==0.13.2
streamlit==1.43.1
plotly==6.0.0
kaleido==0.2.1
mysql-connector-python==8.0.33
geopy==2.2.0
folium==0.12.1
streamlit-folium==0.24.0
